@import "variables.less";

.calendar {
  margin-left: 1em;
  outline: none;
  border: none;
  background: none;
  color: @ama;
  position: relative;
}

.itinerary {
  outline: none;
  border: none;
  height: 40px;
  font-size: 1.5em;
  background: @sumi;
  color: @gofun;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 4;
  position: absolute;
}

.list {
  list-style: none;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  padding: 0 30px;
  min-height: calc(100vh - 40px);
  margin: 0;
  position: absolute;
  top: 40px;
}

.item {
  list-style: none;
  height: 7em;
  z-index: 3;
  color: @gofun;
  font-family: 'Ubuntu';
  position: relative;
  font-size: 0.9em;
}

.dragging {
  opacity: 0.8;
  background-color: @hai;
  cursor: -webkit-grabbing;
}

.time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  margin-right: 1em;
}

.place {
  display: flex;
  flex-direction: row;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1em;
  background-color: @sumi;
}

.image:hover{
  opacity: 0.8;
  cursor: -webkit-grab;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control {
  display: flex;
}

.remove {
  outline: none;
  background: none;
  border: none;
  color: @maso;
}

.name{
  display: flex;
  align-items: center;
  justify-content: left;
  outline: none;
  background: none;
  border: none;
  color: @ama;
  padding: 0;
  text-align: left;
}

.mode{
  margin-right: 0.5em;
  color: @hai;
  outline: none;
  border: none;
  background: none;
  opacity: 0.7;
}

.activate {
  color: @ama;
  opacity: 1;
}

.transit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em 0em;
}

.link {
  color: @ama;
}

.dashed {
  position: absolute;
  top: 0;
  left: 80px;
  width: 0px;
  height: 100%;
  border: 2px dashed @gofun;
  opacity: 0.2;
  z-index: -1;
}
