@import "variables.less";

.itinerary {
  outline: none;
  border: none;
  height: 2em;
  font-size: 1.5em;
  background: none;
  color: @gofun;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  list-style: none;
}

.item {

}

.time{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  margin-right: 1em;
}

.place {
  display: flex;
  flex-direction: row;
}

.image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 1em;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control {
  display: flex;
}

.sojourn {
  margin-right: 1em;
}

.remove {
  outline: none;
  background: none;
  border: none;
  color: @maso;
}

.name{
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1em;
  outline: none;
  background: none;
  border: none;
  color: @ama;
  padding: 0;
}

.mode{
  margin-right: 0.5em;
  color: @hai;
  outline: none;
  border: none;
  background: none;
  opacity: 0.7;
}

.activate {
  color: @ama;
  opacity: 1;
}

.transit{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2em 0em;
}

.link {
  color: @ama;
}
