@import "variables.less";

.place{
  display: flex;
  width: 100vw;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: @ama;
  outline: none;
  animation: card-flip 0.3s ease-out;
  animation-fill-mode: forwards;
}
.image{
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name{
  width: 100vw;
  padding-left: 1em;
  display: flex;
  font-size: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  margin-right: -100px;
}

@keyframes card-flip {
  0% {
    transform: translateY(50%) rotateX(90deg);
  }
  100% {
    transform: translateY(0%) rotateX(0deg);
  }
}
