@import "variables.less";

.place{
  display: flex;
  width: 100vw;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: @maso;
  outline: none;
}
.image{
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name{
  width: 100vw;
  padding-left: 1em;
  display: flex;
  font-size: 2em;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  white-space: nowrap;
  margin-right: -100px;
}
